 html, body {
  height: 100%;
  margin: 0;
}
.page_wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column; 
  overflow: hidden; 
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  border-left: 2px solid #04040c;
  border-right: 2px solid #04040c;
  min-height: 100vh;
  background-color: rgb(42, 41, 41);
}
body {
  background-color: rgb(30, 30, 30);
  display: flex;
  flex-direction: column;
}
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  color: aliceblue;
  padding-top: 10px;
}
.app-container2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: aliceblue;
  align-items: center;
  overflow: hidden;
  gap: 15px;
}

.button-row {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  align-items: center;
}

button {
  background-color: #16314b;
  color: aliceblue;
  max-width: 70%;
  padding: 8px 12px;
  border-radius: 12px;
  border-color: #16314b;
}
.response {
  flex: 1;
  overflow-y: auto;
  max-width: 600px;
  width: 100%;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 10px;
}
input{
  width: 500%;
  max-width: 500%;
  padding: 8px 12px;
  border-radius: 12px;
  background-color: #16314b; 
  color: aliceblue;
  display: flex;
  outline: none;
  border: none;
}

.input-area {
  display: flex;
  gap: 10px;
  max-width: 100%;
  width: 37.8%;
  padding: 8px 12px;
  border-radius: 12px;
  background-color: #16314b;
}
img{
  width: 150px;
  height: 150px;
}
.img_buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
}
.message {
  max-width: 70%;
  padding: 8px 12px;
  border-radius: 12px;
}

.message-user {
  align-self: flex-end;
  background-color: #3a3a3a;
}

.message-bot {
  align-self: flex-start;
  background-color: #16314b;
}